# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb
*.egg-info/
dist/
build/

# Environments
.venv/
venv/
env/
ENV/
*.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# SQLite DB
backend/app/app.db

# Node (if you add frontend later)
node_modules/
